* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}

.bg-1 {
    background-color: #e3fdfd;
}

.bg-2 {
    background-color: #cbf1f5;
}

.bg-3 {
    background-color: #a6e3e9;
}

.bg-4 {
    background-color: #71c9ce;
}

ul {
    list-style-type: none;
}

.btn {
    color: white;
    width: 4.7rem;
    height: 4.7rem;
    font-size: 2.5rem;
    transition: all .5s;
}

.btn:hover {
    color: black;
}

.fs-25rem {
    font-size: 2.5rem;
}

.siparis-rem a:hover {
    text-decoration: none;
    color: red;
}

.resim-esitleme {
    height: 35rem;
    object-fit: cover;
}

.resim-esitleme2 {
    object-fit: cover;
}

.siparis-rem {
    font-size: 2rem;
}

.text-hizalama {
    text-align: justify;
}