* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.back-color {
    background-color: #2c3e50;
}

ul {
    list-style-type: none;
}

.btn {
    color: white;
    width: 4.7rem;
    height: 4.7rem;
    font-size: 2.5rem;
    transition: all .5s;
}

.btn:hover {
    color: black;
    background-color: #fff;
}

.fs-25rem {
    font-size: 2.5rem;
}

.fs-25rem a:hover {
    text-decoration: none;
}

.resim-esitleme {
    height: 35rem;
    object-fit: cover;
}